/*#region header*/
header {
  display: flex;
  justify-content: right;
}
.header_group {
  width: 1280px;
  width: 195px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  padding: 0 20px 0 0;
}
.header_group i {
  font-size: 22px;
  margin-top: 10px;
}
.header_group button {
  width: 32px;
  height: 32px;
  border: none;
  background-color: #fff;
  border-radius: 16px;
  cursor: pointer;
  filter: drop-shadow(0px 0px 3px #7e9fac);
}
.header_group .b_Login {
  cursor: pointer;
  position: relative;
  display: flex;
}
.header_group .b_Login_Bg {
  display: inline-block;
}
.header_group .b_Login_Bg img {
  display: block;
}
.header_group .b_Login i {
  font-size: 30px;
  position: absolute;
  margin-top: 26px;
  margin-left: 15px;
}
/*#endregion header*/
/*#region nav*/
.nav {
  position: absolute;
}
.nav_Bg {
  width: 124px;
  margin: 0 0 0 28px;
  position: relative;
}
.nav_Control {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -635px;
  margin-left: 18px;
}
.logo {
  margin: 0 0 30px 0;
  cursor: pointer;
}
.nav_Control button {
  border: none;
  background-color: transparent;
  margin: 10px 0;
  cursor: pointer;
}
/*#endregion nav*/
/*#region main*/
.main_group {
  width: 1100px;
  /* 1280-180 */
  padding: 0 0 0 180px;
}
.slide_Main_Visual {
  padding: 50px 0 0 0;
  width: 1020px;
  height: 440px;
  margin: auto;
}
.main_Visual_Img_Bg {
  text-align: center;
  position: relative;
}
.main_Visual_Img_Bg img{
    border-radius: 10px;
}
.main_Visual_Img_p img {
  position: absolute;
  margin-top: -202px;
  margin-left: 44px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
}
.main_group h1 {
  text-align: center;
}
/*#endregion main*/
/*#region personal*/


/*#endregion personal*/