.visible_Range {
  width: 1280px;
  margin: auto;
  display: flex;
}
.big_shadow {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
}
img {
  display: block;
}

/*#region header*/
header {
  width: 1280px;
  height: 51px;
  margin: auto;
  display: flex;
  justify-content: right;
  position: sticky;
  top: 0px;
  z-index: 100;
}
.header_group {
  width: 1280px;
  width: 195px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  padding: 0 20px 0 0;
}
.header_group i {
  font-size: 22px;
  margin-top: 10px;
}
.header_group button {
  width: 32px;
  height: 32px;
  border: none;
  background-color: #fff;
  border-radius: 16px;
  cursor: pointer;
  filter: drop-shadow(0px 0px 3px #7e9fac);
}
.b_Login {
  cursor: pointer;
  position: relative;
}
.b_Login_Bg {
  background-color: #6ec1c5;
  border-radius: 0 0 10px 10px;
  width: 59px;
  height: 51px;
}
.b_Login i {
  font-size: 30px;
  position: absolute;
  margin-top: -25px;
  margin-left: 15px;
}
.b_Setting .fa-gear {
  color: #6ec1c5;
}
.b_System_info .fa-bell {
  color: #6ec1c5;
}
.b_Message .fa-comment-dots {
  color: #6ec1c5;
}
.b_Login .fa-circle-user {
  color: #ffffff;
}
.b_System_info:hover,
.b_Setting:hover,
.b_Message:hover {
  background-color: #6ec1c5;
}
.b_Login:hover .b_Login_Bg {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.b_Message:hover .fa-comment-dots {
  color: #fff;
}
.b_System_info:hover .fa-bell {
  color: #fff;
}
.b_Setting:hover .fa-gear {
  color: #fff;
}
.b_Login:hover .fa-circle-user {
  color: #6ec1c5;
}
/*#endregion header*/
/*#region nav*/
.nav_Group {
  width: 180px;
  height: 762px;
  position: sticky;
  top: 50px;
  z-index: 99;
}
.nav_Bg {
  width: 124px;
  margin: 0 0 0 28px;
  position: relative;
}
.nav_Control {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -635px;
  margin-left: 18px;
}
.logo {
  margin: 0 0 30px 0;
  cursor: pointer;
}
.b_Index,
.b_Cookbook,
.b_Sportmenu {
  height: 70px;
  width: 70px;
  background-color: #6ec1c5;
  border: none;
  margin: 2px;
}
.b_Index i,
.b_Cookbook i,
.b_Sportmenu i {
  display: block;
  width: 40px;
  height: 30px;
  line-height: 30px;
  margin: auto;
}
.b_Index p,
.b_Cookbook p,
.b_Sportmenu p {
  display: block;
  padding: 3px 0 0 0;
  color: #fff;
}
.fa-house,
.fa-kitchen-set,
.fa-dumbbell{
  color: #ffff;
}
.b_Index:hover,
.b_Cookbook:hover,
.b_Sportmenu:hover{
  background-color: #EFF3F6;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.b_Index:hover p,
.b_Cookbook:hover p,
.b_Sportmenu:hover p{
  color: #6ec1c5;
}
.b_Index:hover i,
.b_Cookbook:hover i,
.b_Sportmenu:hover i{
  color: #6ec1c5;
}

/*#endregion nav*/
.main {
  width: 1100px;
  padding: 40px 0px 0px 0px;
}
/*#region md*/
.md_Group {
  margin: auto;
}
.Md_Visual_slide {
  width: 1020px;
  height: 440px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.md_Visual_Img {
  text-align: center;
}
.md_Visual_Img img {
  display: block;
  margin: auto;
}
.md_title h1 {
  margin: 0 0 250px 0;
  text-align: center;
}
/*#endregion md*/
/*#region personal*/
.personal {
  width: 1100px;
  padding: 0px 0px 250px 0;
}
.personal_Group {
  width: 100%;
  justify-content: center;
  display: grid;
  grid-template: repeat(3, 146px) / repeat(6, 146px);
  gap: 5px;
}
.personal_Main {
  grid-area: 1/1/4/4;
  position: relative;
  margin-left: auto;
  padding: 0 20px 0 0;
}
.personal_Decorate {
  position: absolute;
  margin-top: -230px;
  margin-left: -70px;
}
.personal_Cal {
  grid-area: 2/6/3/7;
  margin: 8px;
}
.personal_Sleep {
  grid-area: 3/4/4/5;
  margin: 8px;
}
.personal_Step {
  grid-area: 3/5/4/6;
  margin: 8px;
}
.personal_Sport {
  grid-area: 3/6/4/7;
  margin: 8px;
}
.personal_Title {
  grid-area: 1/4/2/7;
  /* text-align: center; */
  padding: 0 20px;
}
.personal_Title_Group {
  height: 60px;
  display: flex;
  align-items: center;
}
.personal_Title h2 {
  line-height: 60px;
  margin: 0 0 0 5px;
}
.personal_P {
  grid-area: 2/4/3/6;
  padding: 0 20px;
  line-height: 26px;
}
/*#endregion personal*/
/*#region competition*/
.competition {
  width: 1100px;
  padding: 0px 0px 375px 0;
}
.competition_Group {
  width: 100%;
  justify-content: center;
  display: grid;
  grid-template: repeat(2, 219px) / repeat(2, 438px);
  gap: 5px;
  position: relative;
}
.competition_Main {
  grid-area: 1/2/3/3;
}
.competition_Decorate {
  position: absolute;
  margin-top: 306px;
  margin-left: 294px;
}
.competition_Title {
  grid-area: 1/1/2/2;
  padding: 0 50px;
}
.competition_Title_Group {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 90px 0 0 0;
}
.competition_Title h2 {
  line-height: 60px;
  margin: 0 0 0 5px;
}
.competition_P {
  grid-area: 2/1/3/2;
  padding: 0 50px;
  line-height: 26px;
}
/*#endregion competition*/
/*#region together*/
.together {
  width: 1100px;
  padding: 0px 0px 300px 0;
}
.together_Group {
  width: 100%;
  margin: auto;
  justify-content: center;
  display: grid;
  grid-template: repeat(2, 276px) / repeat(2, 380px);
  gap: 20px;
  position: relative;
}
.together_Pic1 {
  grid-area: 1/1/2/2;
  overflow: hidden;
}
.together_Pic2 {
  grid-area: 2/1/3/2;
  overflow: hidden;
}
.together_Pic3 {
  grid-area: 2/2/3/3;
  overflow: hidden;
}
.together_Text {
  grid-area: 1/2/2/3;
}
.together_Decorate1 {
  position: absolute;
  margin-top: 437px;
  margin-left: 110px;
}
.together_Decorate2 {
  position: absolute;
  margin-top: 144px;
  margin-left: 844px;
}
.together_Text {
  width: 300px;
  margin: auto;
}
.together_Title {
  padding: 0px 0 25px 0;
}
.together_Title_Group {
  height: 60px;
  display: flex;
  align-items: center;
}
.together_Title h2 {
  line-height: 60px;
  margin: 0 0 0 5px;
}
.together_P {
  padding: 20px 50px 0 0;
  line-height: 26px;
}
.together_Group .pic {
  border-radius: 20px;
}
/*#endregion together*/
/*#region cook_sport*/
.cook_sport {
  width: 1100px;
  padding: 0px 0px 250px 0;
}
.cook_sport_Group {
  width: 100%;
  margin: auto;
  justify-content: center;
  display: grid;
  grid-template: repeat(2, 320px) / repeat(2, 436px);
  gap: 20px;
  position: relative;
}
.cook_sport_Pic1 {
  grid-area: 2/1/3/2;
  overflow: hidden;
}
.cook_sport_Pic2 {
  grid-area: 1/2/2/3;
  overflow: hidden;
}
.cook_sport_Decorate1 {
  position: absolute;
  margin-top: 176px;
  margin-left: 376px;
}
.cook_sport_Decorate2 {
  position: absolute;
  margin-top: 527px;
  margin-left: 481px;
}
.cook_sport_Text {
  width: 300px;
  margin: auto;
}
.cook_sport_Title {
  grid-area: 1/1/2/2;
  padding: 50px 0 0 100px;
}
.cook_sport_Title1,
.cook_sport_Title2 {
  height: 60px;
  display: flex;
  align-items: center;
}
.cook_sport_P p {
  padding: 20px 50px;
  line-height: 26px;
}
.cook_sport_Group .pic {
  border-radius: 20px;
}
/*#endregion cook_sport*/
/*#region cook_sport*/
.joinus {
  width: 1100px;
  padding: 0px 0px 50px 0;
}
.joinus_Decorate {
  margin: auto;
  width: 710px;
}
.joinus_Text {
  text-align: center;
  padding: 20px;
}
.joinus_Text img {
  margin: auto;
  padding: 20px;
}
.joinus_a {
  width: 160px;
  height: 25px;
  margin: auto;
  margin-top: 10px;
  background-color: #6ec1c5;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  color: #fff;
}
.joinus_a a {
  text-decoration: none;
  color: #fff;
}
.joinus_a i {
  line-height: 25px;
  padding: 0 0 0 3px;
}
.joinus_a:hover {
  background-color: #ffffff;
}
.joinus_a:hover a {
  color: #6ec1c5;
}
/*#endregion cook_sport*/
/*#region footer*/
.footer {
  margin: auto;
  padding: 0 0 5px 0;
}
.footer p {
  text-align: center;
  font-size: 12px;
  color: #706c65;
}
/*#endregion footer*/
