.b_Index {
  background-color: #eff3f6;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.b_Index p {
  color: #6ec1c5;
}
.b_Index i {
  color: #6ec1c5;
}
.main{
  width: 732px;
  box-sizing: border-box;
  padding: 10px;
}
/*#region member_Index*/
.member_Index {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template: 320px 430px / 345px 355px;
  gap: 5px;
}
.personal_Data {
  width: 325px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.personal_Data img {
  box-sizing: border-box;
  margin: auto;
}
.personal_Sleep,
.personal_Step,
.personal_Sport,
.personal__Cal {
  background: rgba(255, 255, 255, 0.7);
  height: 152px;
  width: 152px;
  position: relative;
  margin: 5px;
}
.personal_Data p{
  font-size: 14px;
  font-weight: bold;
  color: #706c65;
}
.personal_Data span{
  font-size: 20px;
  font-weight: bold;
  color: #706c65;
}
.sleep_Text {
  position: absolute;
  top: 33px;
    left: 38px;
}
.step_Text {
  position: absolute;
  top: 55px;
    left: 54px;
}
.sport_Text {
  position: absolute;
  top: 49px;
    left: 37px;
}
.cal_Text {
  position: absolute;
  top: 46px;
  left: 42px;
}
/*#endregion member_Index*/
/*#region together_Invite*/
.together_Invite {
  width: 100%;
  box-sizing: border-box;
  grid-area: 2/1/3/2;
}
.invite_Bg {
  margin: auto;
  width: 290px;
  height: 407px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 5px;
  text-align: center;
}
.invite_Bg h3 {
  color: #6ec1c5;
  margin: 0 0 3px 0;
}
.select_Sport::before {
  content: ">";
}
.select_Sport::after {
  content: "<";
}
.sport_Menu {
  display: grid;
  margin: 10px;
  grid-template: repeat(3, 50px) / repeat(4, 50px);
  justify-content: center;
}
.sport_Button {
  width: 42px;
  height: 40px;
  border: none;
  background-color: #6ec1c5;
  border-radius: 10px;
  box-shadow: inset -2px -2px 2px rgba(48, 145, 166, 0.9);
  cursor: pointer;
}
.sport_Menu i {
  color: #fff;
  line-height: 40px;
}
.sport_Button:hover {
  background-color: #3091a6;
}
.sport_Button:focus {
  background-color: #fff;
}
.sport_Button:focus i {
  color: #6ec1c5;
}
.options_Table {
  line-height: 25px;
  color: #1f849b;
  font-size: 14px;
}
.options_Table input {
  border: 0.5px solid #6ec1c5;
  color: #1f849b;
}
.options_Table select {
  border: 0.5px solid #6ec1c5;
  color: #1f849b;
  width: 170px;
}
.options_Table .cost {
  width: 120px;
}
.options_Table select:focus {
  outline: 0.5px solid #1f849b;
}
.options_Table input:focus {
  outline: 0.5px solid #1f849b;
}
.create_a {
  width: 160px;
  height: 25px;
  margin: auto;
  margin-top: 10px;
  background-color: #6ec1c5;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}
.create_a a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
.create_a i {
  line-height: 25px;
  padding: 0 0 0 3px;
}
.create_a:hover {
  background-color: #ffffff;
}
.create_a:hover a {
  color: #6ec1c5;
}
/*#endregion together_Invite*/
/*#region calendar*/
.calendar{
  box-sizing: border-box;
  padding: 6px 0 0 0;
}
.calendar img{
  width: 340px;
}
/* TODO 待尋找如何製作日歷 */
/*#endregion calendar*/
/*#region share_Article*/
.share_Article {
  width: 100%;
  box-sizing: border-box;
  margin: auto;
}
.cookbook,
.sportmenu {
  padding: 5px;
}
.cookbook h3,
.sportmenu h3 {
  color: #6ec1c5;
  text-align: center;
}
.cookbook_Group,
.sportmenu_Group {
  width: 100%;
  height: 60px;
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid #7cd1d6;
  border-radius: 6px;
  display: flex;
  align-items: center;
  margin: 3px 0;
  cursor: pointer;
  text-decoration: none;
}
.cookbook_Pic,
.sportmenu_Pic {
  margin: 20px;
}
.cookbook_Text,
.sportmenu_Text {
  width: 252px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.cookbook_Text span,
.sportmenu_Text span {
  color: #706c65;
  font-weight: 700;
  font-size: 14px;
}
.cookbook_Text p,
.sportmenu_Text p {
  font-weight: 400;
  font-size: 12px;
  color: #6ec1c5;
}
.cookbook_Group:hover,
.sportmenu_Group:hover {
  outline: 1px solid #1f849b;
}
.share_a {
  width: 100px;
  height: 25px;
  background-color: transparent;
  border-radius: 6px;
  border: 1.4px solid #6ec1c5;
  display: flex;
  justify-content: center;
  margin-left: auto;
}
.share_a a {
  text-decoration: none;
  color: #706c65;
  font-size: 14px;
}
.share_a i {
  color: #706c65;
  line-height: 25px;
  padding: 0 0 0 3px;
}
.share_a:hover {
  outline: 1px solid #1f849b;
}
.share_a:hover a {
  color: #1f849b;
}
/*#endregion share_Article*/
/*#region aside*/
.aside {
  width: 288px;
  box-sizing: border-box;
  position: sticky;
  margin-left: auto;
}
.personal_Info,
.competition,
.md {
  margin-right: 20px;
  margin-top: 20px;
  width: 280px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
}
.personal_Info h3,
.competition h3 {
  color: #6ec1c5;
  margin: 5px;
}
.info_Group {
  display: flex;
  justify-content: center;
}
.info {
  background: rgba(237, 245, 234, 0.6);
  border: 1px solid #6ec1c5;
  border-radius: 5px;
  width: 78px;
  box-sizing: border-box;
  padding: 5px;
  margin: 10px 5px;
}
.competition_Group {
  display: flex;
  justify-content: center;
}
.member_Group {
  box-sizing: border-box;
  padding:5px;
  border-radius: 5px;
}
.member01,
.member02,
.member03 {
  display: flex;
  margin: 6px;
  align-items: center;
}
.member01 img,
.member02 img,
.member03 img {
  margin-right: 5px;
}
.member01_Num {
  font-size: 30px;
  font-weight: bold;
}
.member01_Num span {
  font-size: 20px;
  font-weight: bold;
}
.member_Num {
  font-size: 14px;
  font-weight: bold;
}
.member_Num span {
  font-size: 12px;
  font-weight: bold;
}
.member03 p,
.member03 span {
  color: #f09b95;
}
.competition_a {
  width: 160px;
  height: 25px;
  margin: auto;
  margin-bottom: 10PX;
  background-color: #6ec1c5;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}
.competition_a a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
.competition_a i {
  line-height: 25px;
  padding: 0 0 0 3px;
}
.competition_a:hover {
  background-color: #ffffff;
}
.competition_a:hover a {
  color: #6ec1c5;
}
.md img{
margin: auto;
box-sizing: border-box;
padding: 10px 0px;
}
/*#endregion aside*/
.footer {
  margin: auto;
  padding: 30px 0 5px 0;
}
.footer p {
  text-align: center;
  font-size: 12px;
  color: #706c65;
}
/*#endregion footer*/